body{
	font-family: 'OpenSans', sans-serif;
	flex-direction: column;
	align-items: center;
	min-width: 800px;
	display: flex;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: #222;
}


/*-------------------------------------*/
/*  ğ“œğ“®ğ“·ğ“¾ ğ“«ğ“µğ“¸ğ“¬ğ“´  */

#menu{
	width: 100%;
	height: 40px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

#menu_content{
	z-index: 2;
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
}

#performance{
	display: flex;
	cursor: pointer;
	align-items: center;
}

.performance_text{
	color: #222;
	font-size: 16px;
	font-weight: bold;
}

#icon{
	width: 25px;
	height: 25px;
	margin: 0 5px;
}


/*-------------------------------------*/
/*  ğ“‘ğ“¸ğ“¸ğ“´ ğ“«ğ“µğ“¸ğ“¬ğ“´ */

#book{
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ddd;
}

#book_container{
	width: 80%;
	display: flex;
	padding: 80px 0;
	flex-direction: column;
}

#book_name{
	font-size: 32px;
	font-weight: bold;
	overflow: hidden;
	color: #222;
	margin-bottom: 20px;
}

#book_author{
	color: #888;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 80px;
}

#book_download{
	width: 120px;
	height: 16px;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FF7640;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 80px;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

#book_rank{
	display: flex;
	align-items: center;
}

.rank_item{
	display: none;
	width: 20px;
	height: 20px;
}

.round{
	width: 25px;
	height: 25px;
	margin-right: 10px;
	border-radius: 50%;
	cursor: pointer;
	background: #f6f6f6;
	border: 1px solid #ddd;
}

#rank_display{
	color: #bbb;
	font-weight: bold;
}

#book_control{
	display: flex;
	width: 100%;
}

#book_download:hover{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);	
}

#category{
	width: 100%;
	height: auto;
	min-height: 100px;
	background: #f6f6f6;
	padding: 20px 0 10px 0;
	display: inline-flex;
	justify-content: center;
	border-bottom: 1px solid #ddd;
}

#category_container{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
}

.category_item{	
	color: #888;
	height: 16px;
	padding: 10px;
	max-width: 300px;
	overflow:hidden;
	cursor: pointer;
	border-radius: 5px;
	background: white;
	margin-bottom: 20px;
	margin-right: 20px;
	font-weight: bold;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.category_item:hover{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}